/* Styling for main page of Codevember 2016 site. */

@import url(http://fonts.googleapis.com/css?family=Raleway:900,500);

$border-color: #5c82d3;
$artist-background: white;
$song-background: #f4bed5;

#playlist {
  position: absolute;
  left: 50%;
  margin-left: -164px;
  
  #songs {
    padding: 0;
    
    li.song {
      background-color: $song-background;
      border: 4px solid $border-color;
      font-family: Helvetica;
      font-size: 15px;
      height: 20px;
      list-style: none;
      position: relative;
      padding: 10px;
      text-align: center;
      width: 300px;
      
      span.song-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        line-height:.25;  
        text-transform:uppercase;
      }
      span.song-title::before,
      span.song-title::after {
        content: '"';
      }
    }
    
    li.song.odd::after {
      background: $artist-background;
      border: 2px solid $border-color;
      content: attr(data-artist);
      font-size: .8em;
      height: 20px;
      left: 50%;
      line-height: 20px;
      margin-left: -125px;
      position: absolute;
      text-transform: uppercase;
      top: 32px;
      width: 250px;
      // Bottom part of artist label is cut off by next song without this.
      z-index: 10; 
    }
    
    li.song.even::before {
      background: white;
      border-bottom: 10px solid transparent;
      border-left: 10px solid $border-color;
      border-top: 10px solid transparent;
      content: '';
      height: 0px;
      position: absolute;
      left: 37px;
      margin-top: -24px;
      width: 0px;
      z-index: 10;
    }
    
    li.song.even::after {
      background: white;
      border-bottom: 10px solid transparent;
      border-right: 10px solid $border-color;
      border-top: 10px solid transparent;
      content: '';
      height: 0px;
      position: absolute;
      right: 33px;
      margin-top: -24px;
      width: 0px;
      z-index: 10;
    }
  }
}